td
{
	border: 2px solid black;
	width: 60px;
	height: 60px;
}

.button
{
	border-radius: 4px;
	border: 1px solid green;
	color: black;
	padding: 5px 10px;
}

.buttonactive
{
	border-color: green;
	padding: 14px 28px;
	border-radius: 15px;
	border-style: solid;
	border-width: 5px;
}

.buttondesactive
{
	background:url(CroixReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.plateau
{
	background-color: lightgreen;
	width: 60px;
	height: 60px;
}

.plateauinactif
{
	background-color: beige;
	width: 60px;
	height: 60px;
}

.forme10 /* cubeBlanc */
{
	background:url(RenardBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme20 /* cone */
{
	background:url(DemonBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme30 /* cylindre */
{
	background:url(ChatBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme40 /* sphere */
{
	background:url(BoxBoxBoyBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme11 /* cubeNoir */
{
	background:url(RenardNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme21 /* cone */
{
	background:url(DemonNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme31 /* cylindre */
{
	background:url(ChatNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme41 /* sphere */
{
	background:url(BoxBoyNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}